html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
}

.jumbotron img{
	width: 150px;
	height:150px;
	border: 5px solid #999;
}


hr {
	width: 140px;
	border-top: 2px solid #999;
}

.jumbotron hr {
	width: 150px;
}


section {
	min-height: 500px;
}


.gallery {
	background-color: #aaa;
}

.Contact {
	min-height: 800px;
	background-color: floralwhite;
}


footer {
	position: absolute;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 30px;

}

footer p {
	color: #aaa;
	font-size: 0.9em;
}

footer p i {
	color: silver;
}

.jumbotron {
	font-family: Viga;
}

nav {
	font-family: Viga;
}


.about {
	font-family: 'Roboto Mono', monospace;
}
